<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/doctors/login">Doctor Login</a>
    <%doctors.forEach(doctor => {%>
    <div>
      <h1><%=doctor.name%></h1>
      <img src="<%=doctor.imgurl%>" alt="">
      <a href="/book/<%=doctor.id%>">Book</a>
    </div>
    <%})%>
  </body>
</html>
