<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login / Register</title>
</head>
<body>
    <h1>Login</h1>
    <%if(messages && messages.success) {%>
        <p style="color:green;"><%=messages.success%></p>
    <%}%>
    <%if(messages && messages.error) {%>
        <p style="color:red;"><%=messages.error%></p>
    <%}%>
    <form action="/login" method="POST">
        <input type="email" name="email" id="">
        <input type="password" name="password" id="">
        <button>Login</button>
    </form>

    <h1>Register</h1>
    <form action="/doctors" method="POST">
        <input type="text" name="name" id="" placeholder="Name">
        <input type="email" name="email">
        <input type="text" name="imgurl" placeholder="Image URL">
        <textarea name="bio" id="" cols="30" rows="10" placeholder="Bio"></textarea>
        <input type="password" name="password" id="" placeholder="Password">
        <input type="password" name="confirmPassword" id="" placeholder="Confirm password">
        <button>Submit</button>
    </form>
</body>
</html>